<template>
      <div v-if="loading" class="bw-loader bw-colorset-primary">
        <div class="bw-loader-spinner">
          <div></div>
          <div></div>
        </div>
      </div>
      <div v-else>
        <div class="bw-layer bw-align-center">
          <div class="bw-layer-box bw-colorset-primary bw-radius-m bw-gap-xl bw-col-xs-6">
            <div class="bw-space-l bw-align-flex-start">
              Login as admin
            </div>
            <div class="bw-layer-scroll bw-space-l">
              <div class="bw-organizer bw-radius-s">
                <input type="password" class="bw-colorset-white bw-space-m bw-organizer-expander" v-model="password" />
                <button v-on:click="login" class="bw-colorset-secondary bw-colorset-hover-tertiary bw-space-m">Get in!</button>
              </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'AppAdmin',
    components: {
    },
    data () {
      return {
        loading: false,
        password: false
      }
    },
    methods: {
      login () {
        let vm = this
        vm.$store.commit('authenticated', true)
        if (vm.password === 'dia523') {
          vm.$store.commit('adminRole', true)
        } else {
          vm.$store.commit('adminRole', false)
        }
        vm.loading = true
        axios.get(vm.$store.state.api + 'seasonCollection')
            .then(function (response) {
              vm.$store.commit('addSeasons', response.data.seasons)
              vm.$router.push('/home')
            })
            .catch(function (error) {
              console.log(error)
              vm.$router.push('/home')
            })
      }
    }
  }
</script>