<template>
  <div class="background"></div>
</template>
<script>
  export default {
    name: 'AppBackground',
    data () {
      return {}
    }
  }
</script>
<style scoped lang="scss">
  .background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #000;
    padding: 0;
    &:after {
      box-shadow: inset 0 0 200px rgba(0,0,0,1);
      background: url('http://www.tapeciarnia.pl/tapety/normalne/184717_kregielnia_kula.jpg');
      background-size: cover;
      position: absolute;
      left: 0;
      opacity: 0.4;
      top: 0;
      right: 0;
      bottom: 0;
      content: "";
    }
  }
</style>