<template>
  <app-layer>
    <span slot="layer-title">To play: {{ roundsCounter(0) }} In progress: {{ roundsCounter(1) }} Played: {{ roundsCounter(2) }}</span>
    <span slot="layer-close"><router-link to="/home" tag="span"><i class="bw-icon-cancel bw-colorset-hover-white" aria-hidden="true"></i></router-link></span>
    <div class="bw-col bw-colorset-tertiary">
      <div class="bw-col-xs-6">
        <div class="bw-space-m">Rounds</div>
      </div>
      <div class="bw-col-xs-6">
        <div class="bw-tabs">
          <div class="bw-tabs-const bw-colorset-tertiary" v-for="(round, index) in openRounds">
            <div class="bw-space-m">{{ round }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="bw-col " v-for="(person, index) in seasonData.players" :data-index="index" :key="index">
      <div class="bw-col-xs-6 bw-space-m bw-colorset-primary-full">
        {{ person.name }}
      </div>
      <div class="bw-col-xs-6">
        <div class="bw-tabs">
          <div class="bw-tabs-const bw-space-m bw-colorset-primary-full" v-for="(round, index) in openRounds" v-on:click="addScore(person.id, person.name, round, person.pins[round])" :name="index">
            {{ person.pins[round] !== undefined ? person.pins[round] : '0' }}
          </div>
        </div>
      </div>
    </div>

    <div class="bw-colorset-tertiary bw-colorset-hover-tertiary-over bw-block bw-space-m" v-on:click="showLayerAddPlayer()">
        <i class="bw-icon-plus"></i> Player
    </div>

    <div class="bw-col bw-gap-b-l" slot="layer-button-set">
      <div class="bw-col-xs-12 bw-col-m-4">
        <div class="bw-tabs bw-radius-m bw-gap-t-l">
          <input class="date-input bw-colorset-primary-full bw-tabs-const bw-space-v-xl" maxlength="4" type="text" v-model="year" />
          <input class="date-input bw-colorset-primary-full bw-tabs-const bw-space-v-xl" maxlength="2" type="text" v-model="month" />
          <input class="date-input bw-colorset-primary-full bw-tabs-const bw-space-v-xl" maxlength="2" type="text" v-model="day" />
        </div>
      </div>
      <div class="bw-col-xs-12 bw-col-m-7 bw-col-offset-m-1">
        <div class="bw-tabs bw-gap-t-l bw-radius-m">
          <div class="bw-tabs-flex bw-space-v-xl bw-space-h-m bw-colorset-secondary bw-colorset-hover-tertiary" v-if="roundsCounter(0) > 0 && (firstToOpen - firstToClose < 4) && this.$store.state.user.admin" v-on:click="openRound()">
            Otwórz rundę {{ firstToOpen }}
          </div>
          <div class="bw-tabs-flex bw-space-v-xl bw-space-h-m bw-colorset-secondary bw-colorset-hover-tertiary" v-if="firstToClose < firstToOpen && this.$store.state.user.admin" v-on:click="closeRound()">
            Zamknij rundę {{ firstToClose }}
          </div>
          <div class="bw-tabs-flex bw-space-v-xl bw-space-h-m bw-colorset-secondary bw-colorset-hover-tertiary" v-on:click="reloadSeasonData()">
            Odśwież
          </div>
        </div>
      </div>
    </div>

    <app-layer v-if="showAddPlayer" v-bind:showState="showAddPlayer">
      <span slot="layer-title"> Add player to season </span>
      <div class="bw-organizer bw-colorset-gray-100 bw-colorset-hover-gray-200 bw-gap-b-m bw-space-m" v-for="(person, index) in players" :data-index="index" :key="index" v-on:click="addPlayer(person.id, person.name)">
        <div class="bw-organizer-expander">
          {{ person.name }}
        </div>
        <i class="bw-icon-plus"></i>
      </div>
    </app-layer>

    <app-layer v-if="showScoreAdd" v-bind:showState="showScoreAdd">
      <span slot="layer-title"> {{ playerNameAdd }} score is {{score.hundreds}}{{score.teens}}{{score.units}} for round {{ roundIdAdd }} </span>
      <div class="score-grid">
        <div class="bw-tabs bw-gap-b-xl">
          <span class="bw-tabs-const bw-space-m bw-colorset-hover-secondary" v-bind:class="score.hundreds === 3 ? 'bw-colorset-secondary' : 'bw-colorset-primary-full'" v-on:click="set300()">300</span>
          <span class="bw-tabs-const bw-space-m bw-colorset-hover-secondary" v-bind:class="score.hundreds === 3 - h ? 'bw-colorset-secondary' : 'bw-colorset-primary-full'" v-on:click="setHundreds(3 - h, $event)" v-for="h in 3">{{ 3 - h }}</span>
        </div>
        <div v-if="score.hundreds < 3" class="bw-tabs bw-gap-b-xl">
          <span v-if class="bw-tabs-const bw-colorset-hover-secondary bw-space-m" v-bind:class="score.teens === 10 - t ? 'bw-colorset-secondary' : 'bw-colorset-primary-full'"  v-on:click="setTeens(10 - t, $event)" v-for="t in 10">{{ 10 - t }}</span>
        </div>
        <div v-if="score.hundreds < 3" class="bw-tabs">
          <span class="bw-tabs-const bw-colorset-hover-secondary bw-space-m" v-bind:class="score.units === 10 - u ? 'bw-colorset-secondary' : 'bw-colorset-primary-full'"  v-on:click="setUnits(10 - u, $event)" v-for="u in 10">{{ 10 - u }}</span>
        </div>
      </div>
      <div class="bw-organizer bw-gap-v-l" slot="layer-button-set">
        <input class="bw-organizer-expander bw-radius-m bw-space-v-xl bw-font-size-l bw-space-h-m bw-colorset-secondary bw-colorset-hover-primary-full" type="submit" v-on:click="sendScore($event)" :value="'Add ' + score.hundreds + score.teens + score.units + ' to ' + playerNameAdd + ' for round ' + roundIdAdd" />
      </div>
    </app-layer>
  </app-layer>
</template>

<script>
  import AppLayer from 'components/AppLayer'
  import axios from 'axios'
  import _ from 'lodash'
  
  export default {
    name: 'AppFormAddGame',
    components: {
      AppLayer
    },
    props: ['seasonId'],
    data () {
      return {
        seasonData: {},
        pinsNew: {},
        year: false,
        showAddPlayer: false,
        month: false,
        day: false,
        showScoreAdd: false,
        playerIdAdd: false,
        players: [],
        playerNameAdd: false,
        roundIdAdd: false,
        score: {
          'hundreds': 0,
          'teens': 0,
          'units': 0
        }
      }
    },
    computed: {
      fullDate () {
        return this.year + '-' + ('0' + this.month).substr(-2) + '-' + ('0' + this.day).substr(-2)
      },
      openRounds () {
        return _.compact(_.map(this.seasonData.statuses, function (value, key) {
          if (parseInt(value) === 1) {
            return key
          } else {
            return null
          }
        }))
      },
      firstToOpen () {
        return parseInt(this.roundsCounter(1) + this.roundsCounter(2) + 1)
      },
      firstToClose () {
        return parseInt(this.roundsCounter(2) + 1)
      }
    },
    methods: {
      showLayerAddPlayer () {
        let vm = this
        let existingPlayers = []
        _.each(vm.seasonData.players, function (player) {
          existingPlayers.push(player.name)
        })
        vm.showAddPlayer = true
        axios.get(vm.$store.state.api + 'playerCollection')
            .then(function (response) {
              _.each(response.data.players, function (player, id) {
                if (existingPlayers.indexOf(player) < 0) {
                  vm.players.push({'id': id, 'name': player})
                }
              })
              console.log(response)
            })
            .catch(function (error) {
              console.log(error)
            })
      },
      addPlayer (index, person) {
        let vm = this
        vm.seasonData.players[Object.keys(vm.seasonData.players).length + 1] = {'id': index, 'name': person, 'pins': []}
        vm.showAddPlayer = false
      },
      addScore (personId, personName, roundId, oldScore) {
        var oldScoreParts = ('000' + oldScore).substr(-3).split('')
        this.showScoreAdd = true
        this.playerIdAdd = personId
        this.playerNameAdd = personName
        this.roundIdAdd = roundId
        this.score.hundreds = oldScoreParts[0]
        this.score.teens = oldScoreParts[1]
        this.score.units = oldScoreParts[2]
      },
      set300 () {
        this.score.hundreds = 3
        this.score.teens = 0
        this.score.units = 0
      },
      setHundreds (h) {
        this.score.hundreds = h
      },
      setTeens (t) {
        this.score.teens = t
      },
      setUnits (u) {
        this.score.units = u
      },
      roundsCounter (word) {
        return _.filter(this.seasonData.statuses, function (v) {
          return parseInt(v) === word
        }).length
      },
      reloadSeasonData () {
        let vm = this
        axios.get(vm.$store.state.api + 'seasonCollection')
            .then(function (response) {
              vm.$store.commit('addSeasons', response.data.seasons)
              vm.seasonData = vm.$store.state.lookup[vm.seasonId]
              console.log(response)
            })
            .catch(function (error) {
              console.log(error)
            })
      },
      openRound () {
        let vm = this
        let data = JSON.stringify({
          'season_id': parseInt(vm.seasonId),
          'round_id': vm.firstToOpen,
          'date': vm.fullDate,
          'status': 1
        })
        axios({
          method: 'post',
          url: vm.$store.state.api + 'dateUpdate',
          data: data,
          accept: '*/*'
        })
        .then(function (response) {
          vm.reloadSeasonData()
          console.log(response)
        })
        .catch(function (error) {
          console.log(error)
        })
      },
      closeRound () {
        let vm = this
        let data = JSON.stringify({
          'season_id': parseInt(vm.seasonId),
          'round_id': vm.firstToClose,
          'date': vm.fullDate,
          'status': 2
        })
        axios({
          method: 'post',
          url: vm.$store.state.api + 'dateUpdate',
          data: data,
          accept: '*/*'
        })
        .then(function (response) {
          console.log(response)
          vm.reloadSeasonData()
        })
        .catch(function (error) {
          console.log(error)
        })
      },
      sendScore (event) {
        this.showScoreAdd = false
        event.preventDefault()
        var vm = this
        let data = {
          'season_id': parseInt(vm.seasonId),
          'round_id': parseInt(vm.roundIdAdd),
          'players': {}
        }
        data.players[vm.playerIdAdd] = parseInt((vm.score.hundreds + '' + vm.score.teens + '' + vm.score.units))
        data = JSON.stringify(data)
        axios({
          method: 'post',
          url: vm.$store.state.api + 'roundUpdate',
          data: data,
          accept: '*/*'
        })
            .then(function (response) {
              console.log(response)
              vm.reloadSeasonData()
              vm.roundIdAdd = false
              vm.playerIdAdd = false
              vm.playerNameAdd = false
              vm.score.hundreds = 0
              vm.score.teens = 0
              vm.score.units = 0
              vm.$forceUpdate()
            })
            .catch(function (error) {
              console.log(error)
            })
      }
    },
    mounted () {
      var vm = this
      var currentTime = new Date()
      vm.year = currentTime.getFullYear()
      vm.month = currentTime.getMonth() + 1
      vm.day = currentTime.getDate()
      vm.reloadSeasonData()
    }
  }
</script>

<style>
  .date-input {
    width: 60px;
  }
</style>