<template>
  <app-layer>
    <h2 slot="headline-title">Start season form</h2>
    <form class="form">
      <div class="row">
        <div class="label">
          Nazwa sezonu
        </div>
        <div class="button-box">
          <input class="input" type="text" v-model="title" />
        </div>
      </div>
      <div class="row">
        <div class="label">
          Data rozgrywki
        </div>
        <div class="button-box">
          <input class="input input--short" maxlength="4" type="text" v-model="year" /> -
          <input class="input input--short" maxlength="2" type="text" v-model="month" /> -
          <input class="input input--short" maxlength="2" type="text" v-model="day" />
        </div>
      </div>
      <div class="row">
        <div class="label">
          <input class="input input--wide" type="password" v-model="password" placeholder="Hasło" />
        </div>
        <div class="button-box">
          <input class="button" v-on:click="startNewSeason" type="submit" value="Dodaj nowy sezon" />
        </div>
      </div>
      <div v-if="wrong" class="row">
        <div class="label">
          Błędne hasło
        </div>
      </div>
    </form>
  </app-layer>
</template>

<script>
  import axios from 'axios'
  import AppLayer from 'components/AppLayer'

  export default {
    name: 'AppFormStartSeason',
    components: {
      AppLayer
    },
    data () {
      return {
        title: 'New season',
        year: false,
        month: false,
        day: false,
        password: '',
        wrong: false
      }
    },
    computed: {
      datetime () {
        return this.year + '-' + ('0' + this.month).substr(-2) + '-' + ('0' + this.day).substr(-2)
      }
    },
    methods: {
      startNewSeason (event) {
        event.preventDefault()
        var vm = this
        if (vm.password === 'darek') {
          vm.wrong = false
          var data = JSON.stringify({'start_date': vm.datetime, 'title': vm.title, 'players': [1, 2, 3, 4, 5]})
          axios.defaults.headers.post['Content-Type'] = 'application/json'
          axios({
            method: 'post',
            url: 'https://hajs86.usermd.net/seasons/start',
            data: data,
            accept: '*/*',
            headers: {
              'X-Requested-With': 'XMLHttpRequest',
              'Access-Control-Allow-Headers': 'content-type'
            }
          })
              .then(function (response) {
                console.log(response)
              })
              .catch(function (error) {
                console.log(error)
              })
        } else {
          vm.wrong = true
        }
      }
    },
    mounted () {
      var vm = this
      var currentTime = new Date()
      vm.year = currentTime.getFullYear()
      vm.month = currentTime.getMonth() + 1
      vm.day = currentTime.getDay()
    }
  }
</script>
