<template>
  <div class="bw-sticky" v-bind:animate="false">
    <div class="bw-wrapper-full-width">
      <div class="bw-colorset-primary">
        <div class="bw-wrapper">
          <div class="bw-organizer bw-space-m">
            <div>
              <h1 class="bw-font-size-xl bw-fontset-headline">BOWLING<span class="bw-utils--i">STATS</span></h1>
              <h2 class="bw-font-size-s bw-fontset-headline">RYBNIK OFFICE LEAGUE</h2>
            </div>
            <div class="bw-organizer-expander"></div>
            <app-menu></app-menu>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AppMenu from 'components/AppMenu'

export default {
  name: 'AppHeader',
  components: {
    AppMenu
  },
  data () {
    return {}
  }
}
</script>