<template>
  <div class="bw-wrapper">
    <app-score-table class="bw-gap-h-m bw-gap-v-xxl" v-for="(seasonData, index) in seasonsData" :seasonData="seasonData" :data-index="index" :key="index"></app-score-table>
  </div>
</template>

<script>
  import AppScoreTable from 'components/AppScoreTable'
  import _ from 'lodash'

  export default {
    name: 'appHome',
    components: {
      AppScoreTable
    },
    data () {
      return {
      }
    },
    computed: {
      seasonsData () {
        return _.filter(this.$store.state.seasons, function (obj) {
          return obj.played !== obj.rounds && obj.statuses[obj.rounds] !== '2'
        })
      }
    }
  }
</script>
