<template>
  <div v-if="loading" class="bw-loader bw-colorset-gray-900">
    <div class="bw-loader-spinner">
      <div></div>
      <div></div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'AppLogin',
    components: {
    },
    data () {
      return {
        loading: true
      }
    },
    mounted () {
      let vm = this
      vm.$store.commit('authenticated', true)
      vm.loading = true
      axios.get(vm.$store.state.api + 'seasonCollection')
        .then(function (response) {
          vm.$store.commit('addSeasons', response.data.seasons)
          vm.$router.push('/home')
        })
        .catch(function (error) {
          console.log(error)
          vm.$router.push('/home')
        })
    }
  }
</script>
