<template>
  <div v-if="show">
    <div class="bw-layer bw-align-center bw-colorset-primary">
      <div class="bw-layer-box bw-col-xs-12 bw-col-m-10 bw-colorset-white bw-radius-m bw-gap-xl">
        <div class="bw-space-l bw-organizer">
          <div class="bw-organizer-expander bw-align-flex-start bw-fontset-headline bw-font-size-l">
            <slot name="layer-title">Layer</slot>
          </div>
          <div class="layer__close"><slot name="layer-close"><i v-on:click="hide()" class="bw-icon-cancel bw-colorset-hover-white" aria-hidden="true"></i></slot></div>
        </div>
        <div class="bw-layer-scroll bw-space-h-l">
          <slot>Layer content</slot>
        </div>
        <div class="bw-space-h-l">
          <slot name="layer-button-set"></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'AppLayer',
    data () {
      return {
        show: true
      }
    },
    props: ['showState'],
    methods: {
      hide () {
        this.show = false
        this.showState = false
      },
      show () {
        this.show = true
        this.showState = false
      }
    },
    watch: {
      showState () {
        this.show = this.showState
      }
    }
  }
</script>
