<template>
  <div v-if="loggedIn">
    <div class="bw-hidden-m-down">
      <div class="bw-organizer bw-radius-m">
        <router-link :to="link.url" class="bw-space-xl bw-colorset-tertiary bw-colorset-hover-tertiary-over" active-class="bw-colorset-tertiary-over" v-if="link.nr < 4 || (link.nr === 4 && !adminIn) || (link.nr === 5 && adminIn)"  v-for="link in links" :data-index="link.nr" :key="link.nr">
          {{ link.text }}
        </router-link>
      </div>
    </div>
    <div class="bw-inline bw-dropdown-parent bw-hidden-m-up">
      <div class="bw-colorset-secondary bw-colorset-hover-primary bw-radius-s bw-space-l">
        <span>Menu</span>
        <span class="bw-icon-angle-down"></span>
      </div>
      <div class="bw-triangle-bottom bw-color-primary bw-dropdown-bottom"></div>
      <div class="bw-dropdown-bottom-right bw-vw-40">
        <div class="bw-space-v-s">
          <ul class="bw-colorset-primary">
            <router-link tag="li" :to="link.url" active-class="bw-colorset-secondary" class="bw-colorset-hover-tertiary bw-space-m" v-for="link in links" v-if="link.nr < 4 || (link.nr === 4 && !adminIn) || (link.nr === 5 && adminIn)" :data-index="link.nr" :key="link.nr">
              {{ link.text }}
            </router-link>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/babel">
  export default {
    name: 'AppMenu',
    data () {
      return {
        scrolled: false,
        links: [
          { nr: 1, text: 'Home', url: '/home' },
          { nr: 2, text: 'Seasons list', url: '/seasons' },
          { nr: 3, text: 'League players', url: '/players' },
          { nr: 4, text: 'Admin', url: '/admin' },
          { nr: 5, text: 'Logout', url: '/logout' }
        ]
      }
    },
    computed: {
      loggedIn () {
        return this.$store.state.user.authenticated
      },
      adminIn () {
        return this.$store.state.user.admin
      }
    }
  }
</script>
