<template>
  <div class="bw-wrapper">
    <div class="bw-col bw-gap-m">
      <div class="bw-col-xs-12 bw-col-m-5 bw-colorset-primary">
        <div class="bw-space-m">
          <div class="bw-organizer bw-space-m bw-colorset-hover-secondary" v-on:click="setPlayer(index, person)" v-for="(person, index) in players" :data-index="index" :key="index">
            <div class="bw-organizer-expander">
              {{ person }}
            </div>
            <div v-if="$store.state.user.admin === true">
              <i class="bw-icon-pencil"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="bw-col-xs-12 bw-col-m-5 bw-col-offset-m-2 bw-colorset-primary">
        <div class="bw-space-m">
          <input class="bw-colorset-white bw-space-m bw-block bw-gap-b-m" placeholder="Enter name" type="text" v-model="name" />
          <div v-if="error" class="bw-color-danger"> Player name need to have at least 3 letters </div>
          <div class="bw-tabs">
            <div v-if="mode === 'update'" class="bw-space-s bw-tabs-flex bw-colorset-primary" v-on:click="deletePlayer()">
              Delete player
            </div>
            <div v-if="mode === 'add'" class="bw-space-s bw-tabs-flex bw-colorset-secondary" v-on:click="addPlayer()">
              Add player
            </div>
            <div v-if="mode === 'update'" class="bw-space-s bw-tabs-flex bw-colorset-tertiary" v-on:click="clearPlayer()">
              Cancel
            </div>
            <div v-if="mode === 'update'" class="bw-space-s bw-tabs-flex bw-colorset-secondary" v-on:click="updatePlayer()">
              Update player
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import AppLayer from 'components/AppLayer'
  import axios from 'axios'

  export default {
    name: 'AppPlayers',
    components: {
      AppLayer
    },
    data () {
      return {
        players: {},
        name: '',
        playerId: false,
        error: false,
        mode: 'add'
      }
    },
    methods: {
      loadPlayersCollection () {
        let vm = this
        axios.get(vm.$store.state.api + 'playerCollection')
          .then(function (response) {
            vm.players = response.data.players
            console.log(response)
          })
          .catch(function (error) {
            console.log(error)
          })
      },
      clearPlayer () {
        var vm = this
        vm.mode = 'add'
        vm.name = ''
        vm.playerId = false
      },
      setPlayer (index, person) {
        var vm = this
        vm.mode = 'update'
        vm.name = person
        vm.playerId = index
      },
      deletePlayer () {
        var vm = this
        vm.error = false
        let data = {
          'name': vm.name,
          'player_id': vm.playerId
        }
        data = JSON.stringify(data)
        axios({
          method: 'post',
          url: vm.$store.state.api + 'playerDelete',
          data: data,
          accept: '*/*'
        })
            .then(function (response) {
              console.log(response)
              vm.loadPlayersCollection()
              vm.name = ''
              vm.id = ''
              vm.mode = 'add'
            })
            .catch(function (error) {
              console.log(error)
            })
      },
      addPlayer () {
        var vm = this
        if (vm.name.length > 3) {
          vm.error = false
          let data = {
            'name': vm.name
          }
          data = JSON.stringify(data)
          axios({
            method: 'post',
            url: vm.$store.state.api + 'playerCreate',
            data: data,
            accept: '*/*'
          })
            .then(function (response) {
              console.log(response)
              vm.loadPlayersCollection()
              vm.name = ''
            })
            .catch(function (error) {
              console.log(error)
            })
        } else {
          vm.error = true
        }
      },
      updatePlayer () {
        var vm = this
        if (vm.name.length > 3) {
          vm.error = false
          let data = {
            'player_id': vm.playerId,
            'name': vm.name
          }
          data = JSON.stringify(data)
          axios({
            method: 'post',
            url: vm.$store.state.api + 'playerUpdate',
            data: data,
            accept: '*/*'
          })
              .then(function (response) {
                console.log(response)
                vm.loadPlayersCollection()
                vm.name = ''
                vm.id = ''
                vm.mode = 'add'
              })
              .catch(function (error) {
                console.log(error)
              })
        } else {
          vm.error = true
        }
      }
    },
    mounted () {
      var vm = this
      vm.loadPlayersCollection()
    }
  }

</script>
