<template>
  <div class="bw-wrapper">
    <app-score-table class="bw-gap-h-m bw-gap-v-xxl" v-for="(seasonData, index) in seasonsData" :seasonData="seasonData" :data-index="index" :key="index"></app-score-table>
  </div>
</template>

<script>
  import AppScoreTable from 'components/AppScoreTable'
  export default {
    name: 'AppSeasonList',
    components: {
      AppScoreTable
    },
    data () {
      return {
      }
    },
    computed: {
      seasonsData () {
        return this.$store.state.seasons
      }
    }
  }
</script>