<template>
  <div class="bw-radius-m">
    <div class="bw-col bw-colorset-primary">
      <div class="bw-col-xs-12 bw-col-s-6 bw-col-m-8 bw-col-l-9
          bw-col-xl-10 bw-space-m bw-space-h-l bw-align-flex-end">
        <div class="bw-font-size-l bw-fontset-headline bw-inline">{{ seasonData.name }}</div>
        <div class="bw-inline bw-color-white">
          <span v-if="seasonOpen"><i class="bw-icon-clock"></i> In progress</span>
          <span v-else><i class="bw-icon-clock"></i> Closed</span>
        </div>
      </div>
      <div class="bw-col-xs-12 bw-col-s-6 bw-col-m-4
          bw-col-l-3 bw-col-xl-2">
        <div class="bw-tabs">
          <router-link class="bw-tabs-flex bw-line-height-l bw-align-stretch bw-colorset-hover-tertiary-over bw-font-size-xs bw-selected bw-space-l bw-align-center" v-if="seasonOpen" :to="{ path: '/addgame/' + seasonData.id }" tag="span">
            Update scores
          </router-link>
          <div class="bw-tabs-flex bw-space-l bw-colorset-hover-tertiary" v-bind:class="[tableMode === 'date' ? 'bw-colorset-tertiary bw-selected':'']" v-on:click="tableMode = 'date'">
            <span class="bw-icon-calendar"></span>
          </div>
          <div class="bw-tabs-flex bw-space-l bw-colorset-hover-tertiary" v-bind:class="[tableMode === 'score' ? 'bw-colorset-tertiary bw-selected':'']" v-on:click="tableMode = 'score'">
            <span class="bw-icon-list-numbered"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="bw-colorset-tertiary">
      <div class="bw-col bw-font-size-xs bw-colorset-tertiary-over">
        <div class="bw-col-xs-12 bw-col-s-6 bw-col-l-3">
          <div class="bw-col">
            <div class="bw-col-xs-2 bw-colorset-pins bw-space-m bw-align-center">
              Rank
            </div>
            <div class="bw-col-xs-4 bw-colorset-names bw-space-m">
              Name
            </div>
            <div class="bw-col-xs-2 bw-colorset-scores bw-space-m bw-align-center">
              T-{{ seasonData.top }}
            </div>
            <div class="bw-col-xs-2 bw-colorset-pins bw-space-m bw-align-center">
              Avg
            </div>
            <div class="bw-col-xs-2 bw-colorset-scores bw-space-m bw-align-center">
              Best
            </div>
          </div>
        </div>
        <div class="bw-col-xs-12 bw-col-s-6 bw-col-l-3" v-for="n in seasonData.rounds/8">
          <div class="bw-tabs">
            <div class="bw-tabs-const bw-utils--i bw-colorset-pins bw-space-m" v-for="m in 8"
                 :class="{'' : seasonData.statuses[m + (n * 8 - 8)] === '0',
                  '' : seasonData.statuses[m + (n * 8 - 8)] === '2',
                  'bw-color-secondary' : seasonData.statuses[m + (n * 8 - 8)] === '1' }">
              {{ m + (n * 8 - 8) }}
            </div>
          </div>
        </div>
      </div>
      <div :class="{'bw-colorset-primary': person_index % 2 === 1}" class="bw-col bw-font-size-xs" v-for="(person, person_index) in seasonData.players" :data-index="person_index" :key="person_index">
        <div class="bw-col-xs-12 bw-col-s-6 bw-col-l-3">
          <div class="bw-col">
            <div class="bw-col-xs-2 bw-colorset-pins bw-space-m bw-align-center">
              {{person_index}}
            </div>
            <div class="bw-col-xs-4 bw-colorset-names bw-space-m">
              {{person.name}}
            </div>
            <div class="bw-col-xs-2 bw-colorset-scores bw-space-m bw-align-center">
              {{person.top}}
            </div>
            <div class="bw-col-xs-2 bw-colorset-pins bw-space-m bw-align-center">
              {{person.average}}
            </div>
            <div class="bw-col-xs-2 bw-colorset-scores bw-space-m bw-align-center">
              {{person.best}}
            </div>
          </div>
        </div>
        <div class="bw-col-xs-12 bw-col-s-6 bw-col-l-3 bw-align-stretch" :key="n" v-for="(scores, n) in scoreChunks(orderPins(person.pins))">
          <div class="bw-tabs frames">
            <div class="bw-tabs-const bw-radius-xs bw-space-m" :key="ind" v-for="(score, ind) in scores"
                 :class="[ !orderPins(person.is_top)[ind + (n * 8)] || score === 0 ? 'bw-colorset-gray-out' : 'bw-colorset-pins' ]">
              <div class="frame__pins" :class="[place(person.place[ind + (n * 8)]), 'frame__pins--' + seasonData.statuses[ind]]">
                {{ score === 0 ? "" : score }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import _ from 'lodash'

  export default {
    name: 'AppScoreTable',
    components: {
    },
    props: ['seasonData'],
    data () {
      return {
        tableMode: 'date'
      }
    },
    computed: {
      seasonOpen () {
        if (this.seasonData.played < this.seasonData.rounds && this.seasonData.statuses[this.seasonData.rounds] !== '2') {
          return true
        } else {
          return false
        }
      }
    },
    methods: {
      place (pos) {
        return {
          'frame__gold': pos === 1 && this.tableMode === 'date',
          'frame__silver': pos === 2 && this.tableMode === 'date',
          'frame__bronze': pos === 3 && this.tableMode === 'date'
        }
      },
      orderPins (pins) {
        if (this.tableMode === 'score') {
          return _.sortBy(pins).reverse()
        } else {
          return _.toArray(pins)
        }
      },
      scoreChunks (pins) {
        return _.chunk(pins, 8)
      }
    }
  }
</script>
<style>
  .frames {
    height: 100%;
  }
</style>
