<template>
  <div id="app">
    <app-background></app-background>
    <div class="ep-organizer-vertical">
      <app-header></app-header>
      <router-view class="ep-organizer-expander"></router-view>
    </div>
  </div>
</template>

<script>
import AppBackground from './components/AppBackground'
import AppHeader from './components/AppHeader'
import AppFormAddGame from './components/AppFormAddGame'
import AppFormStartSeason from './components/AppFormStartSeason'

export default {
  name: 'app',
  components: {
    AppBackground,
    AppHeader,
    AppFormAddGame,
    AppFormStartSeason
  }
}
</script>
<style>
  #app {
    height: 100%;
  }
  body {
    height: 100%;
    font-family: 'Roboto condensed';
  }
</style>